<!DOCTYPE html>
<html lang="en" ng-app="postapp">
<head>
	<meta charset="UTF-8">
	<title>PostApp</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="css/app.css">
	<link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
</head>
<body>

<nav class="navbar navbar-default">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">PostApp</a>
		</div>

		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li class="active"><a href="#">Home</a></li>
				<li><a href="#">About</a></li>
				<li><a href="#">Contact</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li><a ng-href="#/search"><i class="fa fa-envelope" aria-hidden="true"></i> Mails</a></li>
				<li><a ng-href="#/login"><i class="fa fa-sign-in" aria-hidden="true"></i>Log In</a></li>
			</ul>
		</div>
	</div>
</nav>

<div>
	<main ng-view class="page {{ pageClass }}"></main>
</div>

<script src="http://code.angularjs.org/1.2.13/angular.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular-route.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular-animate.js"></script>
<script src="angular-app/app.js"></script>
<script src="angular-app/home/home-controller.js"></script>
<script src="angular-app/mail-list/mail-list-controller.js"></script>
<script src="angular-app/login/login-controller.js"></script>
<script src="angular-app/package-edit/package-edit-controller.js"></script>
<script src="angular-app/new-package/new-package-controller.js"></script>
<script src="angular-app/search/search-controller.js"></script>
<script src="angular-app/signup/signup-controller.js"></script>

</body>
</html>