<div class="container">
    <div class="jumbotron accountform">
        <h1 id="searchtext">Log in</h1>
        <form action="" method="post">
            <div><label for="username">Username: </label></div>
            <div>
                <input type="text" id="username">
            </div>
            <div><label for="password">Password: </label></div>
            <div><input type="password" id="password"></div>
            <div><button type="submit" class="btn btn-primary">Log In</button></div>
        </form>
    </div>
</div>