<div class="container">
    <div class="jumbotron jumbocontainer">
        <h1 id="newmailtext">Edit mail</h1>
        <form action="" method="post">
            <div class="searchrowdiv">
                <label for="arrive_date">Arrive date: </label>
                <input id="arrive_date" type="date">
                <label for="admin">Administrator: </label>
                <select name="administrators" id="admin">
                    <option value="jani">Jani</option>
                    <option value="kati">Kati</option>
                    <option value="elek">Elek</option>
                </select>
            </div>
            <div class="searchrowdiv">
                <label for="before_date">Filing before: </label>
                <input id="before_date" type="date">
                <label for="status">Status: </label>
                <select name="status" id="status">
                    <option value="waiting">Waiting for filing</option>
                    <option value="completed">Filing completed</option>
                </select>
            </div>
            <div class="searchrowdiv">
                <label for="division">Division: </label>
                <select name="division" id="division">
                    <option value="a">Division A</option>
                    <option value="b">Division B</option>
                    <option value="c">Division C</option>
                </select>
            </div>
            <div class="searchrowdiv searchbuttondiv">
                <button id="savebutton" type="submit" class="btn btn-success">Save changes</button>
                <button class="btn btn-danger">Delete mail</button>
            </div>
        </form>
    </div>
</div>